.container {
    padding-top: 1rem;
}

form {
    padding-top: 1rem;
}

#working-directory-area {
    /* border: 2px solid red; */
    overflow-y: auto;
    height: 220px;
}

#staging-area {
    /* border: 2px solid green; */
    overflow-y: auto;
    height: 220px;
}

#repository-area {
    /* border: 2px solid blue; */
    overflow-y: auto;
    height: 220px;
}

.git-area>h3 {
    text-align: center;
}

.repo-div {
    display: none;
}

.repo-error {
    display: none;
}

.file-error {
    display: none;
}

.fit {
    display: inline-block;
}

.hiddenFile {
    height: 0px;
    -webkit-transition: height, 0.5s linear;
    -moz-transition: height, 0.5s linear;
    -ms-transition: height, 0.5s linear;
    -o-transition: height, 0.5s linear;
    transition: height, 0.5s linear;
}

.hiddenFile.open {
    height: 200px;
    -webkit-transition: height, 0.5s linear;
    -moz-transition: height, 0.5s linear;
    -ms-transition: height, 0.5s linear;
    -o-transition: height, 0.5s linear;
    transition: height, 0.5s linear;
}

.description {
    font-size: x-small;
}

.git-command-list-container {
    overflow-y: auto;
}

#git-command-list {
    padding: 0 15px;
}

.red {
    color: red;
}

.turquoise {
    color: turquoise;
}

.error-message {
    color: red;
    font-style: italic;
}